.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-bottom: 10px;
  border: 0;
}

.buttonIcon {
  width: 41px;
  height: 41px;
  padding-top: 10px;
}

button:hover {
  background-color: green;
}

.button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.button:focus {
  outline: none;
}
