.button74 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  height: 50px;
  width: 100px;
}

.button74:hover {
  background-color: rgb(236, 236, 236);
}

.button74:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.icon {
  padding-top: 4.5px;
  width: 30px;
  height: auto;
}
