.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #1e1e1e;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 100%;
  background-color: #111111;
}

.logo {
  height: 60px;
  width: auto;
}

.right {
  align-items: center;
  background-color: #1e1e1e;
  width: 93%;
  gap: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Scrollbar styling */
.right::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.right::-webkit-scrollbar-track {
  background: #1e1e1e; /* Track color */
  border-radius: 5px;
}

.right::-webkit-scrollbar-thumb {
  background: #555; /* Thumb color */
  border-radius: 5px;
}

.right::-webkit-scrollbar-thumb:hover {
  background: #888; /* Thumb color on hover */
}

.rightExpanded {
  width: 75%;
}

.leftExpanded {
  height: 100%;
  width: 25%;
  transition: width 0.5s;
  justify-content: left;
  padding: 100px;
  gap: 100px;
}

.dotsContainer {
  height: 40px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 0.7s infinite ease-in-out;
}

#dot1 {
  animation-delay: -0.32s;
}

#dot2 {
  animation-delay: -0.16s;
}

#dot3 {
  animation-delay: 0s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.roundButtonContainer {
  height: auto;
  width: auto;
  position: absolute;
  right: 50px;
  top: 50px;
}
